*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #404258;
}
input{
    background-color: #50577A;
    border: 1px solid #404258;
    width: 80px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
button{
    background-color: #50577A;
    border: 1px solid #404258;
    width: 80px;
    height: 30px;
    margin-right: 0px;
    margin-left: auto;
}

.separador{
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    background-color: #474E68;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    font-size: 30px;
}
.text{
    display: flex;
}
.result{
    display: flex;
    margin-top: 5px;
}
.error{
    border: 1px solid red;
}